.fila{
	display: block;
	margin-left: 36%;
	font-size: 25px;
	padding: 1%;
	text-align: center;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	margin-right: 32%;
}
p{
	display: block;
	margin-left: 39%;
	font-size: 20px;
	color: red;
	padding: 1%;
}

field{
	padding-right: 3%; 
}
row{
	background-color: azure;
}