@charset "ISO-8859-1";
body{
	background-repeat: no-repeat;
	background-size: 100%;
}
#ca{
	background-image: url("Camion.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
#co{
	background-image: url("coche1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
h1{
	text-align: center;
	color: #f0595e;
}
h2{
	color:white;
}
a{
	text-align: center;
	color: white;
	font-size:20px;
}
.insertar{
	color:white;
}
.insert{
	color:white;
	text-shadow: 5px 4px 2px #000000;
}
#tab{
	margin-left:22%;
}
.tabla{
	background-color:lightgreen;
	color:#000000;
	transition: none;
}